<!DOCTYPE html>
<html>

<head>
	<title>SiwMovie - Registrazione conclusa</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><img src="/libreria-logo.jpg" width="50%"/></div>
	<h1>Operazioni prestiti</h1>
	<div>
			<a href="/addPrestito">Prendi Libri in prestito</a>
		</div>
			<div>
			<a th:href="@{'/visualizzaPrestiti' + '/' + ${#request.userPrincipal.principal.username}}">Visualizza prestiti</a>
		</div>
	    <div>
			<a href="/index">
			<button type="button">Torna alla home</button>
			</a>
		</div>
</body>
</html>